#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# CMake doesn't use CPPFLAGS, pass them to CFLAGS/CXXFLAGS to enable the
# missing (hardening) flags.
export DEB_CFLAGS_MAINT_APPEND   = $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_CXXFLAGS_MAINT_APPEND = $(shell dpkg-buildflags --get CPPFLAGS)

# this needs dpkg >= 1.17.0
sver:=$(shell dpkg-parsechangelog -SVersion |sed -r 's/-[^-]+$$//')


%:
	dh $@ --with dkms

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_BUNDLED_JSONCPP=OFF -DUSE_BUNDLED_LUAJIT=OFF -DBUILD_DRIVER=OFF -DSYSDIG_VERSION="$(sver)"

override_dh_dkms:
	dh_dkms -psysdig-dkms -- debian/tmp/usr/src/sysdig-$(sver)/dkms.conf
